$accentColor = rgb(66, 139, 202);
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

// .navbar
//     background-color: $accentColor !important
//     color: white

// .site-name
//     color: white !important

.repo-link
    display: none !important


// .content:not(.custom)
//     max-width: 1200px !important

// .search-box > input
//     border-width: 0px !important

// h1
//     font-size: 3.1rem !important

// h2
//     font-size: 2.8rem !important

// h3
//     font-size: 1.8rem !important
